a {
  text-transform: uppercase;
  font-size: 2 rem;
  padding: 10px;
  text-align: center;
}

a:hover {
  transition: 1.2s;
  transform: scale(1.1);
  background-color: aquamarine;
}

div {
  background-color: khaki;
}
