<div id="auth" *ngIf="logServ.isLogin === false">
  <h4>Аuthorization</h4>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="login">Enter your login</label>
      <input
        type="text"
        id="login"
        class="form-control"
        formControlName="login"
      />
    </div>
    <div class="form-group">
      <label for="password">Enter your password</label>
      <input
        type="text"
        id="password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <button class="btn btn-success" [disabled]="loginForm.invalid" (click)="login()">
      Login
    </button>
  </form>
</div>
<div id="info" *ngIf="logServ.isLogin === true">
  <h3>Your info</h3>
  <p>First name: {{currentUser.firstname}}</p>
  <p>Last name: {{currentUser.lastname}}</p>
  <p>Username: {{currentUser.username}}</p>
  <p>Phone: {{currentUser.phone}}</p>
  <p>Mail: {{currentUser.mail}}</p>
</div>
